Repository FragLand/minestat, pull requests merged in 2022-12, with the labels that each got.

#121 Java and Ruby bug fixes, favicon and connection status support
  Java/Example.java
  Java/me/dilley/MineStat.java
  Java/pom.xml
  Ruby/lib/minestat.rb
  Ruby/minestat.gemspec
Labels: bug, enhancement, new feature, lang: Java, lang: Ruby

#124 Dual Target the C# Package
  .gitignore
  CSharp/MineStat/MineStat.csproj
Labels: hygiene, lang: C#, package management

#126 Favicon for C#
  CSharp/MineStat/MineStat.cs
Labels: enhancement, lang: C#

#125 PHP bug fixes, favicon and connection status support
  PHP/composer.json
  PHP/minestat.php
Labels: bug, enhancement, new feature, lang: PHP

#128 Perl SLP 1.8b/1.3 support
  Perl/Minecraft-ServerStatus/Changes
  Perl/Minecraft-ServerStatus/README.md
  Perl/Minecraft-ServerStatus/lib/Minecraft/ServerStatus.pm
  Perl/example.pl
Labels: enhancement, new feature, documentation, lang: Perl

#127 C# Favicon to Byte Array
  CSharp/MineStat/MineStat.cs
Labels: enhancement, lang: C#

#134 Fix Bedrock status check bug (Python)
  Python/minestat/__init__.py
  Python/setup.cfg
Labels: bug, lang: Python
