Repository FragLand/minestat, pull requests merged in 2022-07, with the labels that each got.

#104 Updated powershell version
  .github/README.md
  Powershell/README.md
  Powershell/ServerStatus.ps1
  Powershell/example.ps1
Labels: enhancement, new feature, lang: PowerShell

#107 Convert PowerShell implementation to a module
  .github/README.md
  PowerShell/MineStat.psd1
  PowerShell/MineStat.psm1
  PowerShell/README.md
  PowerShell/example.ps1
  Powershell/ServerStatus.ps1
Labels: enhancement, lang: PowerShell, package management

#105 Bedrock support for C# and support for powershell version 5.1
  .github/README.md
  CSharp/Example.cs
  CSharp/MineStat/MineStat.cs
  CSharp/MineStat/Properties/AssemblyInfo.cs
  PowerShell/MineStat.psd1
  PowerShell/MineStat.psm1
  PowerShell/README.md
  PowerShell/example.ps1
Labels: bug, enhancement, new feature, lang: C#, lang: PowerShell

#109 Reset formatting after formatted_motd
  PowerShell/MineStat.psd1
  PowerShell/MineStat.psm1
Labels: bug, lang: PowerShell
