Repository FragLand/minestat, pull requests merged in 2023-11, with the labels that each got.

#201 Python: Gracefully handle missing MOTD in JSON SLP
  Python/minestat/__init__.py
  Python/setup.cfg
Labels: bug, lang: Python

#202 Ruby: Empty MotD fix
  Ruby/ChangeLog.md
  Ruby/lib/minestat.rb
  Ruby/minestat.gemspec
Labels: bug, lang: Ruby

#204 Java: Empty MotD fix for JSON
  Java/me/dilley/MineStat.java
  Java/pom.xml
Labels: bug, lang: Java

#206 PHP: Add GS4/UT3 query protocol support
  PHP/composer.json
  PHP/minestat.php
  Ruby/lib/minestat.rb
Labels: new feature, lang: PHP
