Repository FragLand/minestat, pull requests merged in 2023-01, with the labels that each got.

#132 Go overhaul and SLP 1.8b/1.3 support
  .github/README.md
  Go/example.go
  Go/minestat/minestat.go
Labels: enhancement, new feature, lang: Go

#135 Python favicon support and other updates
  Java/me/dilley/MineStat.java
  Java/pom.xml
  Python/README.md
  Python/example.py
  Python/minestat/__init__.py
  Python/setup.cfg
Labels: enhancement, new feature, documentation, lang: Python

#122 Expose connection status
  CSharp/MineStat/MineStat.cs
  CSharp/MineStat/MineStat.csproj
  CSharp/MineStat/Properties/AssemblyInfo.cs
  PowerShell/MineStat/MineStat.psd1
  PowerShell/MineStat/MineStat.psm1
Labels: enhancement, lang: C#, lang: PowerShell

#136 Update C# version and copyright year [skip ci]
  CSharp/MineStat/MineStat.cs
  CSharp/MineStat/MineStat.csproj
  CSharp/MineStat/Properties/AssemblyInfo.cs
Labels: documentation, lang: C#

#138 Fix missing Bedrock fields bug (Python)
  .github/README.md
  Python/README.md
  Python/example.py
  Python/minestat/__init__.py
  Python/setup.cfg
Labels: bug, lang: Python

#139 Fix connection status bug (Python)
  Python/minestat/__init__.py
  Python/setup.cfg
Labels: bug, lang: Python

#140 Fix missing Bedrock fields (C#, PS)
  CSharp/MineStat/MineStat.cs
  CSharp/MineStat/MineStat.csproj
  CSharp/MineStat/Properties/AssemblyInfo.cs
  PowerShell/MineStat/MineStat.psd1
  PowerShell/MineStat/MineStat.psm1
  PowerShell/README.md
Labels: bug, lang: C#, lang: PowerShell

#146 Add SRV record support (Ruby)
  Python/minestat/__init__.py
  Ruby/example.rb
  Ruby/lib/minestat.rb
  Ruby/minestat.gemspec
Labels: new feature, hygiene, lang: Ruby

#145 Add SRV record support (Powershell)
  PowerShell/MineStat/MineStat.psd1
  PowerShell/MineStat/MineStat.psm1
  PowerShell/README.md
Labels: new feature, lang: PowerShell

#147 update installation part in go section
  .github/README.md
Labels: documentation, lang: Go
