Repository FragLand/minestat, pull requests merged in 2023-02, with the labels that each got.

#148 add support for bedrock servers
  .github/README.md
  Go/minestat/minestat.go
Labels: new feature, lang: Go

#149 Add UT3/GS4 query support for Ruby
  .github/README.md
  .gitignore
  Ruby/.yardopts
  Ruby/ChangeLog.md
  Ruby/License.txt
  Ruby/ReadMe.md
  Ruby/example.rb
  Ruby/lib/minestat.rb
  Ruby/minestat.gemspec
Labels: enhancement, new feature, hygiene, documentation, lang: Ruby

#150 Bedrock improvements (Go)
  Go/example.go
  Go/minestat/minestat.go
Labels: enhancement, new feature, documentation, lang: Go

#152 add support for SRV records (python)
  Python/minestat/__init__.py
  Python/minestat/py.typed
  Python/pyproject.toml
  Python/setup.cfg
Labels: new feature, lang: Python

#153 Python: Make dependency dnspython optional
  Python/README.md
  Python/minestat/__init__.py
  Python/requirements.txt
  Python/setup.cfg
Labels: enhancement, lang: Python

#155 Python: Fix version in setup.cfg
  Python/setup.cfg
Labels: lang: Python, package management

#154 Add SRV record support (Go)
  Go/minestat/minestat.go
Labels: new feature, lang: Go

#157 Make SRV resolution configurable (Ruby)
  Ruby/ChangeLog.md
  Ruby/ReadMe.md
  Ruby/example.rb
  Ruby/lib/minestat.rb
  Ruby/minestat.gemspec
Labels: enhancement, documentation, lang: Ruby

#156 Maintenance: Update Github Actions and add Dependabot
  .github/dependabot.yml
  .github/workflows/Maven-publish.yml
  .github/workflows/PyPI-publish.yml
  .github/workflows/nuget-publish.yml
  .github/workflows/rubygem-publish.yml
Labels: package management

#166 add support for the Query / GamSpot4 / UT3 protocol (python)
  Python/minestat/__init__.py
  Python/setup.cfg
Labels: new feature, lang: Python

#169 Ruby DNS SRV resolution bug fix
  Ruby/lib/minestat.rb
Labels: bug, lang: Ruby

#170 extend and update python documentation [skip ci]
  Python/README.md
Labels: documentation, lang: Python
