Repository FragLand/minestat, pull requests merged in 2024-03, with the labels that each got.

#219 PS: Input overwrite support and fix latency overwritten
  PowerShell/MineStat/MineStat.psd1
  PowerShell/MineStat/MineStat.psm1
  PowerShell/README.md
Labels: bug, lang: PowerShell

#223 Fix typo
  Ruby/ChangeLog.md
  Ruby/lib/minestat.rb
  Ruby/minestat.gemspec
Labels: bug, lang: Ruby

#217 fixed [FragLand#216](FragLand#216) for javascript, PHP and Python
  JavaScript/minestat.js
  PHP/composer.json
  PHP/minestat.php
  Python/minestat/__init__.py
  Python/setup.cfg
Labels: bug, lang: JavaScript, lang: PHP, lang: Python
